<div class="card is-flex m-auto">
    <div class="card-content is-flex is-justify-content-center">
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkcVfMQ1R_RrMru0PaNn4NVa0ClCOBbxcNjefGV4JOHw&s" alt="ChitChat Logo">
                </figure>
            </div>
            <div class="media-content is-align-content-center">
                <p class="title is-size-4">
                    ChitChat
                </p>
                <p class="subtitle is-size-5">
                    You have a new Bulma message!
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        --bulma-card-radius: 1rem;
        border-radius: var(--bulma-card-radius);
    }
    .card-content {
        --bulma--card-content-padding: 16px;
        padding: var(--bulma--card-content-padding);
    }
</style>