<div class="p-4 max-w-m mx-auto bg-white rounded-xl flex items-center space-x-10">
    <div class="shrink-0">
        <img class="h-16 w-16" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkcVfMQ1R_RrMru0PaNn4NVa0ClCOBbxcNjefGV4JOHw&s" alt="ChitChat Logo">
    </div>
    <div>
        <div class="text-xl font-medium text-black">ChitChat</div>
        <p class="text-slate-500">You have a new Tailwind message!</p>
    </div>
</div>