<div class="mt-[10px] p-0 column is-9 field">
    <label class="label has-text-white-bis is-size-6 mb-5">Username</label>
    <div class="control mt-1">
      <input class="input has-text-white-bis" type="text" name="username" id="username" placeholder="maxds.fr/janesmith">
    </div>
</div>

<div class="field">
    <label for="about" class="is-size-6">A Propos</label>
    <textarea class="textarea mt-5" id="about" name="about"></textarea>
    <p class="is-size-7">Dites nous en plus sur vous...</p>
</div>

<style>
    input {
        background-color: rgb(17 24 39 / var(--tw-text-opacity));
    }
    input::placeholder {
        color: gray;
    }
</style>